@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

.container {
	width: 95%;
	height: 100vh;
	padding: 0 30px 100px 30px;
	margin: auto;
}

.shirts-grid {
	width: 100%;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	margin: auto;
}

.shirt-container {
	width: 30%;
	margin: 20px;
	border: 3px solid cornflowerblue;
	position: relative;

	.flip-shirt {
		position: absolute;
		top: 0;
		right: 0;
		width: 35px;
		height: 35px;
		transition: 0.5s all ease;
		color: #47A3DA;
		border: 3px solid cornflowerblue;
		border-top: none;
		border-right: none;

		i {
			margin: 9px;
		}
	}

	.flip-shirt:hover {
		background-color: #47A3DA;
		color: white;
	}

	img {
		max-width: 100%;
		padding: 15px;
		margin: auto;
	}
}

.shirt-nav-bar {
	width: 100%;
}

.shirt-nav-bar > div {
	position: relative;
	display: inline-block;
	border: 3px solid cornflowerblue;
	border-left: none;
	width: 20%;
	height: 50px;
	font-size: 18px;
	transition: 0.5s all ease;
	vertical-align: top;

	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #47A3DA;
	}
}

.shirt-nav-bar > div:hover {
	background-color: #47A3DA;
	
		i {
			color: white;
		}
}

.shirt-nav-bar > div:last-child {
	border-right: none;
}

.sizes {
	position: relative;
}

.available-sizes {
	position: absolute;
	text-align: center;
	width: 120%;
	border: 3px solid #47A3DA;
	padding: 0;
	transform: translate(-8%, -150%);
	z-index: -1;
	opacity: 0;
	transition: 0.5s ease all;
	background-color: white;

		li {
			list-style: none;
			font-size: 24px;
			padding: 10px;
			color: #47A3DA;
		}
}

.sizes p {
	font-size: 18px;
	text-align: center;
	margin: 12px auto 0;
	color: #47A3DA;
}

.sizes:hover > .available-sizes {
  opacity: 1;
  z-index: 1;
  transform: translate(-8%, -109%);
}

.sizes:hover > p {
  color: white;
}

.available-sizes li:hover {
	font-size: 28px;
}

.colors {
	position: relative;
}

.available-colors {
	position: absolute;
	text-align: center;
	width: 120%;
	padding: 0;
	right: -11%;
	transform: translateY(-150%);
	transition: 0.3s ease all;
	background: white;
	margin: 2.5px 0px;
	border: 3px solid #47A3DA;
	opacity: 0;
	z-index: -1;

		div {
			display: inline-block;
			width: 32px;
			height: 32px;
			border: 2px solid white;
			margin: 4px;
		}

		div:hover {
			border: none;
		}

		div:nth-child(1) {
			background-color: #72bbe9;
			margin-top: 8px;
		}

		div:nth-child(2) {
			background-color: #e577aa;
		}

		div:nth-child(3) {
			background-color: #e5b178;
			margin-bottom: 8px;
		}

		div:nth-child(4) {
			background-color: #7abe93;
			margin-bottom: 8px;
		}
}

.selected-color {
	width: 32px;
	height: 32px;
	background-color: #72bbe9;
	border: 3px solid white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.colors:hover > .available-colors {
  opacity: 1;
  z-index: 0;
  transform: translateY(-104%);
}

.shirt-details {
	width: 100%;
	height: 50px;
	border: none;

	p, strong {
		display: inline-block;
  		font-size: 22px;
  		margin: 5px 0px;
  		color: cornflowerblue;
	}

	p {
		width: 70%;
  		text-align: left;
  		padding-left: 7px;
	}

	strong {
  		width: 30%;
  		text-align: right;
  		padding-right: 7px;
  	}
}

@media (max-width: 750px) {
  .shirts-grid {
  	display: block;
  	width: 50%;
  	margin: auto;
  }

  .shirt-container {
  	width: 100%;
  	margin: auto;
  }
}

@media (max-width: 530px) {
	.shirts-grid {
		margin: 0 auto;
		width: 300px;
	}
  .shirt-container {
    width: 300px;
    margin: auto;
  }
}

